---
slug: log-out
format: html
layout_name: modules/signup/public/views/layouts/application
authorization_policies:
- log_out_and_redirect
---
{%- content_for 'meta_title' -%}
Log Out
{%- endcontent_for -%}
<p>See you soon!</p>
