---
name: log_in
configuration:
  email:
    presence: true
  password:
    presence: true
resource: Session
authorization_policies:
return_to: '/'
default_payload: "{}"
---
{% include 'modules/utils/public/views/partials/utils' %}

{% capture new_password_url %}/password/new{{ return_to_param }}{% endcapture %}

{% form %}
  {% include form_errors %}

  {% include input with f.email, type: "text" %}
  {% include input with f.password, type: 'password' %}
  {% include submit_tag with 'Log In', class: 'btn btn-primary btn-lg', data-disable-with: 'Logging in...' %}
  
  <p>
    <small>Forgot password? <a href="{{ new_password_url }}">Reset your password</a></small>
    <small>New user? <a href="/sign-up">Create new account</a></small>
  </p>
{% endform %}
