---
name: log_in
configuration:
  email:
    presence: true
  password:
    presence: true
resource: Session
authorization_policies:
return_to: '/'
default_payload: "{}"
---
{% include 'modules/utils/public/views/partials/utils' %}
{% if form.errors.password != blank %}
{% assign password_error = "Invalid email or password" %}
{% endif %}
{% form %}
  {% assign form.errors.password = "error" %}
  {% if params.page_id != blank %}
    <input type="hidden" name="page_id" value="{{ params.page_id }}">
  {% endif %}
  {% include form_errors %}
  {% include flash_messages %}

  {% include input with f.email, type: "text" %}
  {% include input with f.password, type: 'password', error: password_error %}

  {% include submit_tag with 'Log In', class: 'btn btn-primary btn-lg', disable_with: 'Logging in...' %}
  
  <p>
    <small>Forgot password? <a href="/recover-password">Reset your password</a></small>
    <small>New user? <a href="/sign-up">Create new account</a></small>
  </p>
{% endform %}
